/* body{
    font-family: "Roboto Mono",sfmono-regular,consolas,liberation mono,menlo,courier,monospace;
} */

*{
    padding: 0;
    margin: 0;
    font-family: "ColfaxAI",helvetica,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
.top-nav{
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom:1px solid #eaeaea;
}
.pheader-left {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
}
.navbar{
    display: inline-flex;
}
.navbar{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 24px;
}
.pheader-nav {
    align-items: center;
    display: flex;
    flex: 0 1;
    justify-content: space-around;
}
.pheader-nav a{
    font-size:14px;
    letter-spacing:1px;
    color: #888888;
    margin-left: 30px;
    cursor: pointer;
}
.pheader-nav a:hover{
    color: #10a37f;
}
ion-icon{
    color: black;
    font-size:25px;
}
.pheader-right .nav-item{
    display:inline;
    color: #888888;
    font-size:15px;
    margin-right:20px;
}
.pheader-right #signup{
    padding:8px 8px;
    color: #fff;
    background-color:#10a37f;
    border-radius: 5px;
}
.docs-nav {
    border-right: 1px solid var(--gray-100);
    flex: 0 0 auto;
    overflow: auto;
    padding: 50px 0 20px;
    width: 250px;
    height: 750px;
    margin-left: 20px;
    margin-top: 20px;
}
div {
    display: block;
}
.side-nav ul li{
    color: #6e6e80;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top:8px;
    padding: 5px;
    cursor: pointer;
}
.page-body {
    flex: 1 0 auto;
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    width: 872px;
}
.side-nav-header{
    margin-top:15px;
}
.side-nav ul li:hover{
    background-color: #ececf1;
    border-radius:2px;
    color: rgb(39, 39, 39);
}

.side-nav-header{
    letter-spacing: 2.5px;
    font-size: 14px;
    font-weight: 550;
    
}
.docs-body {
    position: relative;
    height: 100%;
    max-width: 100%;
    min-width: 0px;
    
}
.markdown-page {
    max-width: 100%;
    width: 760px 24px;
}